$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-envelope: "\e900";
$icm-helmet: "\e901";
$icm-improvement: "\e902";
$icm-phone-call: "\e903";
$icm-project: "\e904";
$icm-smartphone: "\e905";
$icm-address: "\e906";
$icm-agronomy: "\e907";
$icm-anvil: "\e908";

